[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
molecule = {extras = ["vagrant", "ec2"],version = "*"}

[requires]
python_version = "2.7"

[packages]
molecule = {extras = ["ec2"],version = "*"}
awscli = "*"
